src/
bin/
vendor/

./label-watch
label-watch
*.exe
*.test
*.prof

*.swn
*.swp
.vagrant
vagrant.kubeconfig
coverage.out
coverage-all.out
coverage-all.html
coverage-all-tmp.out

.DS_Store
.idea/
.vscode/
*.plist
